$def with ()
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/me.png" /><strong></strong>
    <title>Maxime Franco Resume</title>



</head>

<body>

<div style="margin-top:-250px" id="page-wrapper">
    <div class="error center-align-text">
        <h1 class="error-heading">404<i>!</i></h1>
        <h2 class="text-danger">Oops</h2>
        <h3>Page non trouvée</h3>
        <p>Il semblerait que vous vous soyez trompé de chemin !</p>
        <a href="/" class="btn btn-success">Retour à l'envoyeur</a>
    </div>
</div>


</body>
</html>
